// color
$color-purple: #b61984;
$color-black: #000000;
$color-header: #191919;
$color-white: #ffffff;
$color-button: #fff;
$color-sidebar: #191718;

// font-size
$fs-basic: 16px;
$fs-1: 3.8rem;
$fs-2: 3.5rem;
$fs-3: 5.12em;
$fs-4: 1.5em;
$fs-5: 2em;
$fs-6: 13px;
$fs-7: 1.1rem;

// font-weight
$fw-1: 400;
$fw-2: 600;
$fw-3: 700;
$fw-4: 900;

// padding
$pd-1: 50px;
$pd-2: 1.1em;
$pd-3: 1.25em;
$pd-4: 1.5em;
$pd-5: 30px;
$pd-6: 4em;
$pd-7: 2em;
$pd-8: 1em;

// border-radius
$br-1: 50px;

// line-height
$lh-1: 18.75px;

//break points
$breakpoints: (
  "extra-large": 1200px,
  "large": 992px,
  "medium": 768px,
  "small": 576px,
);
